# Practical 2: Perform Descriptive statistics on given data sets.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("datasets/loan.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.loc[:, "LoanAmount"].mean()

146.41216216216216

In [4]:
df.LoanAmount.mean()

146.41216216216216

In [5]:
df.LoanAmount.median()

128.0

In [6]:
df.LoanAmount.mode()

0    120.0
dtype: float64

In [7]:
df.LoanAmount.std()

85.58732523570545

In [8]:
max_ = 0
for i in df.LoanAmount:
    if i > max_:
        max_ = i
        
print(i)

133.0

In [9]:
df.LoanAmount.skew()

2.677551679256059

In [10]:
df.describe(include="all")

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614
unique,614,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,2
top,LP001316,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,Y
freq,1,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,422
mean,NaN,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,NaN

In [11]:
from scipy.stats import iqr
iqr(df.ApplicantIncome)

2917.5

In [12]:
for dfName in df:
    try:
        print(f"Mean for {dfName} is: ", df.loc[:, dfName].mean())
    except:
        print(f"Mean for {dfName} is NaN")

Mean for Loan_ID is NaN
Mean for Gender is NaN
Mean for Married is NaN
Mean for Dependents is NaN
Mean for Education is NaN
Mean for Self_Employed is NaN
Mean for ApplicantIncome is:  5403.459283387622
Mean for CoapplicantIncome is:  1621.245798027101
Mean for LoanAmount is:  146.41216216216216
Mean for Loan_Amount_Term is:  342.0
Mean for Credit_History is:  0.8421985815602837
Mean for Property_Area is NaN
Mean for Loan_Status is NaN